---
import Portfolio from '../components/Portfolio.jsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Matthew Ankenmann | Portfolio</title>
	</head>
	<body style="margin: 0; padding: 0;">
		<Portfolio client:load />
	</body>
</html>